/* 通用默认样式-------------------------------------- */
body {
	padding:0px;
	margin: 0px auto;
	color:#000;
	background:url(zyyjjxcom_r1_c1.jpg) repeat-x #ffffff;
}
html{overflow:scroll;overflow-x:hidden}
input{background:#FFFFFF; font-size:13px;}
td {font-family:Arial, Helvetica, sans-serif;font-size: 13px;WORD-WRAP: break-word; color:#3B3B3B; line-height:25px}

a:link {font-size: 13px;text-decoration: none;color: #3B3B3B;}
a:visited {	text-decoration: none;font-size: 13px;color: #3B3B3B;}
a:hover {font-size: 13px;color: #3B3B3B;text-decoration: underline;}
ul,ol.li{list-style:none; margin:0; padding:0;}
img{border:none}



.lineheight10px{height:10px; line-height:10px; overflow:hidden;}
.readcontent{border-bottom:1px dotted #999}
.contents {	line-height:25px;
	margin:10px;
	word-wrap:break-word;
	overflow:hidden;
}



.fixSpan3 {width:162px;white-space:nowrap;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}

.newslist{ height:310px;border:1px solid #d6d6d6; border-top:none;}
.newslist td,.newslist td a{font-size:14px !important;}

.footers{background:url(footer.jpg); height:158px; color:#fff}
.footers td,.footers a{color:#fff !important}


#main{margin:10px 0;}
#article{padding:0 10px}
#article p{margin:10px 0}
#fontzoom{ padding:10px;}

.p p{margin:0; padding:0;}

/*靶材*/
#top1{background:transparent !important;}
#top1 td,#top1 a{ color:#fff !important;}
#daohang a{ height:56px; line-height:56px; background:url(zyyjjxcom_r3_c4.jpg); display:block; text-align:center; color:#fff !important; font-weight:bold; font-size:14px !important}
#daohang a:hover{ background:url(zyyjjxcom_r3_c8.jpg) ;color:#FFFF00 !important;}
.bor1{border-bottom:2px solid #e3e5e5}
.tit1{ font-size:14px !important; font-weight:bold; color:#065390 !important;}
#dibu{ background:url(zyyjjxcom_r17_c1.jpg) repeat-x; height:168px;}
#dibu td,#dibu a{color:#FFF !important}

.piclst{ margin:10px 0; padding:0;margin-left:7px;}
.piclst li{float:left;}
.piclst .li{/*width:195px; height:140px;*/ display:block; margin:0 8px;}
.piclst img{/* width:177px; height:133px;*/}
.piclst div{text-align:center; padding-right:10px; line-height:25px; margin-bottom:5px;}

.piclst2{ margin:10px 0; padding:0; margin-left:2px;}
.piclst2 li{float:left;}
.piclst2 .li{/*width:190px; height:140px;*/ display:block; margin:5px 12px;}
.piclst2 img{ width:222px; height:148px;}
.piclst2 div{text-align:center; padding-right:10px; line-height:25px; margin-bottom:5px;}


.d_c_c{ width:200px; margin:0 auto; margin-bottom:10px; line-height:30px; overflow:hidden; }
table{background:#FFF}
.llist{ background-color:#fff;border:1px solid #e2e2e2; text-align:center; line-height:15px; height:50px; overflow:hidden;}
.llist a{color:#000 !important; display:block; font-weight:bold; text-decoration:none !important;}
.llist a:hover{ background-color:#eeeeee;height:50px; line-height:49px;color:#0874C3 !important; display:block; font-weight:bold; text-decoration:none !important;}